@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:300');

body {
  font-family: 'Josefin Sans', sans-serif;
}

.App {
  display: grid;
  grid-template-columns: 1fr 6fr 1fr;
  grid-template-rows: repeat(5, auto);
  background: #121a23;
}

nav {
  display: grid;
  grid-column: 1 / -1;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  margin: 0 5em;
}

nav > a {
  margin: 1em;
  text-decoration: none;
  color: #eee;
  font-size: 24px;
  transition: color .3s linear;
}

nav > a:hover {
  color: #9f9ffb;
  transition: color .3s linear;
}

main {
  grid-column: 1 / -1;
  background-color: #FFF;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-auto-rows: minmax(200px, auto);
  z-index: 10;
  background-color: transparent;
}

section {
  padding: 3em 0;
  grid-column: 1 / -1;
  background-color: white;
}

section > h1 {
  font-size: 48px;
}

h2 {
  padding: 0 2em;
}

.quote {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-gap: 2em;
  margin: 0 2em;
}

.quote > h1 {
  justify-self: center;
  align-self: center;
}

.pat-sound-board-img {
  margin: 0 2em;
  max-width: 100%;
}

.about, .contact {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: white;
}

figure {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-column: 1 / -1;
  margin: 0;
  z-index: -1;
}

footer {
  margin: 3em;
  grid-column: 1 / -1;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #9f9ffb;
  z-index: 10;
}

footer > a {
  text-decoration: none;
  color: #eee;
  transition: color .3s linear;
}

footer > a:hover {
  color: #f7f08a;
  transition: color .3s linear;
}

.quote, .about, .contact {
  margin: 2em 0;
}

.logo-wrapper {
  grid-column: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.logo {
  width: 100%;
  z-index: 10;
}

.rocket-wrapper {
  grid-column: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* height: 24px; */
}

.rocket {
  width: 60px;
  z-index: 10;
}

.stars {
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 530px 1030px #FFF,
    1454px 1170px #FFF,
    153px 1556px #FFF,
    358px 1733px #FFF,
    1083px 1954px #FFF,
    1490px 462px #FFF,
    1261px 355px #FFF,
    506px 636px #FFF,
    439px 1856px #FFF,
    254px 1883px #FFF,
    206px 706px #FFF,
    318px 1189px #FFF,
    686px 523px #FFF,
    336px 321px #FFF,
    1913px 378px #FFF,
    1985px 609px #FFF,
    919px 1062px #FFF,
    859px 1045px #FFF,
    1263px 534px #FFF,
    140px 1956px #FFF,
    1057px 1163px #FFF,
    116px 1085px #FFF,
    1231px 780px #FFF,
    977px 1729px #FFF,
    184px 1619px #FFF,
    1727px 659px #FFF,
    591px 432px #FFF,
    130px 1869px #FFF,
    1063px 1032px #FFF,
    1169px 733px #FFF,
    725px 718px #FFF,
    1517px 1792px #FFF,
    850px 1746px #FFF,
    1690px 1950px #FFF,
    600px 232px #FFF,
    1023px 1004px #FFF,
    500px 1059px #FFF,
    1420px 1919px #FFF,
    1866px 176px #FFF,
    1789px 484px #FFF,
    279px 537px #FFF,
    1287px 331px #FFF,
    1028px 1603px #FFF,
    1804px 381px #FFF,
    1144px 924px #FFF,
    1030px 1264px #FFF,
    99px 663px #FFF,
    1540px 31px #FFF,
    278px 472px #FFF,
    1682px 233px #FFF,
    30px 819px #FFF,
    546px 368px #FFF,
    1295px 1442px #FFF,
    1855px 933px #FFF,
    845px 150px #FFF,
    1849px 1970px #FFF,
    1183px 1998px #FFF,
    551px 1008px #FFF,
    676px 25px #FFF,
    34px 70px #FFF,
    940px 1666px #FFF,
    1787px 1436px #FFF,
    1628px 842px #FFF,
    136px 1401px #FFF,
    532px 841px #FFF,
    83px 81px #FFF,
    1027px 202px #FFF,
    1195px 732px #FFF,
    801px 1509px #FFF,
    1312px 1252px #FFF,
    19px 309px #FFF,
    425px 1929px #FFF,
    1182px 1305px #FFF,
    757px 1444px #FFF,
    873px 1639px #FFF,
    28px 1593px #FFF,
    83px 1046px #FFF,
    682px 1848px #FFF,
    1129px 1416px #FFF,
    1106px 839px #FFF,
    639px 1981px #FFF,
    67px 1374px #FFF,
    584px 797px #FFF,
    1433px 437px #FFF,
    1524px 147px #FFF,
    1878px 187px #FFF,
    307px 529px #FFF,
    231px 1926px #FFF,
    495px 546px #FFF,
    7px 1520px #FFF,
    467px 12px #FFF,
    504px 309px #FFF,
    1117px 1090px #FFF,
    456px 946px #FFF,
    1555px 765px #FFF,
    1751px 414px #FFF,
    1422px 1542px #FFF,
    1653px 953px #FFF,
    545px 621px #FFF,
    1886px 1957px #FFF,
    1099px 1757px #FFF,
    524px 766px #FFF,
    750px 263px #FFF,
    915px 1081px #FFF,
    1436px 1461px #FFF,
    936px 1921px #FFF,
    862px 446px #FFF,
    509px 1154px #FFF,
    109px 1091px #FFF,
    1969px 1137px #FFF,
    1540px 165px #FFF,
    707px 143px #FFF,
    1756px 24px #FFF,
    467px 824px #FFF,
    1490px 212px #FFF,
    100px 1614px #FFF,
    497px 1616px #FFF,
    1007px 1102px #FFF,
    789px 713px #FFF,
    1925px 311px #FFF,
    810px 542px #FFF,
    1601px 512px #FFF,
    196px 18px #FFF,
    589px 1061px #FFF,
    594px 877px #FFF,
    455px 1930px #FFF,
    1478px 296px #FFF,
    1276px 353px #FFF,
    612px 1234px #FFF,
    710px 1230px #FFF,
    1568px 753px #FFF,
    650px 1200px #FFF,
    880px 1199px #FFF,
    770px 21px #FFF,
    61px 1452px #FFF,
    1011px 1890px #FFF,
    893px 938px #FFF,
    1764px 846px #FFF,
    982px 965px #FFF,
    791px 1715px #FFF,
    628px 38px #FFF,
    1434px 1841px #FFF,
    990px 48px #FFF,
    985px 64px #FFF,
    911px 1602px #FFF,
    1484px 576px #FFF,
    271px 366px #FFF,
    1151px 177px #FFF,
    148px 970px #FFF,
    1776px 1971px #FFF,
    1018px 1503px #FFF,
    1022px 1215px #FFF,
    112px 1714px #FFF,
    1221px 817px #FFF,
    1623px 111px #FFF,
    300px 751px #FFF,
    1139px 786px #FFF,
    1407px 1244px #FFF,
    1257px 1313px #FFF,
    1499px 698px #FFF,
    654px 147px #FFF,
    959px 1286px #FFF,
    968px 551px #FFF,
    15px 823px #FFF,
    1499px 633px #FFF,
    1162px 1685px #FFF,
    1098px 320px #FFF,
    973px 1618px #FFF,
    1703px 930px #FFF,
    1349px 1248px #FFF,
    674px 520px #FFF,
    34px 630px #FFF,
    1395px 533px #FFF,
    747px 1389px #FFF,
    13px 1196px #FFF,
    1797px 1632px #FFF,
    477px 837px #FFF,
    1020px 920px #FFF,
    979px 1360px #FFF,
    310px 1887px #FFF,
    1943px 1362px #FFF,
    621px 608px #FFF,
    5px 1812px #FFF,
    1315px 1661px #FFF,
    1547px 860px #FFF,
    1050px 132px #FFF,
    510px 820px #FFF,
    1758px 1911px #FFF,
    1393px 832px #FFF,
    1285px 1432px #FFF,
    964px 315px #FFF,
    1357px 1847px #FFF,
    103px 1994px #FFF,
    937px 1565px #FFF,
    1282px 1025px #FFF,
    1355px 1467px #FFF,
    589px 1525px #FFF,
    1209px 623px #FFF,
    1893px 504px #FFF,
    1357px 424px #FFF,
    97px 1682px #FFF,
    925px 406px #FFF,
    1403px 1268px #FFF,
    746px 1423px #FFF,
    1860px 1040px #FFF,
    1037px 1149px #FFF,
    77px 812px #FFF,
    762px 600px #FFF,
    1609px 1065px #FFF,
    122px 524px #FFF,
    1319px 1084px #FFF,
    557px 1633px #FFF,
    1081px 280px #FFF,
    628px 668px #FFF,
    1897px 388px #FFF,
    579px 1403px #FFF,
    947px 1228px #FFF,
    1732px 328px #FFF,
    1544px 1465px #FFF,
    50px 748px #FFF,
    539px 1038px #FFF,
    1404px 775px #FFF,
    1156px 1459px #FFF,
    1893px 560px #FFF,
    1132px 401px #FFF,
    651px 122px #FFF,
    741px 1952px #FFF,
    1136px 1316px #FFF,
    1974px 256px #FFF,
    466px 548px #FFF,
    1355px 1116px #FFF,
    268px 78px #FFF,
    314px 1900px #FFF,
    1602px 356px #FFF,
    1293px 656px #FFF,
    1537px 671px #FFF,
    352px 305px #FFF,
    601px 1831px #FFF,
    1529px 1787px #FFF,
    1105px 176px #FFF,
    1326px 1903px #FFF,
    189px 1153px #FFF,
    988px 1826px #FFF,
    466px 1885px #FFF,
    225px 1845px #FFF,
    837px 266px #FFF,
    472px 1754px #FFF,
    424px 1004px #FFF,
    767px 770px #FFF,
    153px 885px #FFF,
    1110px 1426px #FFF,
    982px 676px #FFF,
    480px 35px #FFF,
    360px 937px #FFF,
    347px 327px #FFF,
    1828px 585px #FFF,
    1523px 219px #FFF,
    1859px 927px #FFF,
    1015px 1095px #FFF,
    1592px 335px #FFF,
    1231px 1246px #FFF,
    1753px 171px #FFF,
    1758px 983px #FFF,
    49px 1553px #FFF,
    1034px 215px #FFF,
    187px 1157px #FFF,
    219px 183px #FFF,
    1898px 1108px #FFF,
    1119px 316px #FFF,
    527px 1119px #FFF,
    660px 1455px #FFF,
    767px 850px #FFF,
    776px 1719px #FFF,
    655px 987px #FFF,
    1634px 1343px #FFF,
    393px 824px #FFF,
    741px 1046px #FFF,
    582px 1472px #FFF,
    314px 343px #FFF,
    588px 1306px #FFF,
    963px 190px #FFF,
    157px 1807px #FFF,
    1850px 603px #FFF,
    1954px 879px #FFF,
    589px 1953px #FFF,
    705px 177px #FFF,
    1288px 465px #FFF,
    882px 1638px #FFF,
    1829px 779px #FFF,
    265px 1268px #FFF,
    1020px 1795px #FFF,
    1823px 543px #FFF,
    579px 1558px #FFF,
    178px 112px #FFF,
    352px 255px #FFF,
    858px 667px #FFF,
    1864px 595px #FFF,
    1201px 1623px #FFF,
    384px 942px #FFF,
    612px 1950px #FFF,
    1737px 791px #FFF,
    954px 1717px #FFF,
    83px 1305px #FFF,
    288px 952px #FFF,
    206px 1382px #FFF,
    323px 13px #FFF,
    849px 369px #FFF,
    1223px 1869px #FFF,
    37px 790px #FFF,
    1644px 1965px #FFF,
    1550px 1365px #FFF,
    1105px 1085px #FFF,
    1620px 1199px #FFF,
    717px 257px #FFF,
    1779px 1432px #FFF,
    1220px 1707px #FFF,
    1815px 371px #FFF,
    1832px 502px #FFF,
    1729px 1678px #FFF,
    1562px 314px #FFF,
    1345px 1311px #FFF,
    1212px 299px #FFF,
    1147px 557px #FFF,
    1308px 1073px #FFF,
    940px 1733px #FFF,
    9px 1216px #FFF,
    483px 1005px #FFF,
    1369px 1364px #FFF,
    470px 1724px #FFF,
    1183px 650px #FFF,
    1074px 1153px #FFF,
    775px 183px #FFF,
    1500px 786px #FFF,
    425px 1694px #FFF,
    1830px 1460px #FFF,
    349px 667px #FFF,
    1254px 1698px #FFF,
    846px 582px #FFF,
    1506px 756px #FFF,
    1633px 420px #FFF,
    1268px 852px #FFF,
    645px 1406px #FFF,
    154px 1776px #FFF,
    1198px 1814px #FFF,
    1982px 1487px #FFF,
    1316px 1964px #FFF,
    1903px 1217px #FFF,
    1932px 59px #FFF,
    1777px 360px #FFF,
    1790px 1235px #FFF,
    1539px 1778px #FFF,
    962px 1106px #FFF,
    595px 1846px #FFF,
    1518px 437px #FFF,
    1518px 207px #FFF,
    1521px 1992px #FFF,
    450px 439px #FFF,
    961px 1203px #FFF,
    1112px 1379px #FFF,
    1088px 1578px #FFF,
    1995px 290px #FFF,
    1327px 481px #FFF,
    1373px 1925px #FFF,
    673px 1793px #FFF,
    1755px 1744px #FFF,
    423px 483px #FFF,
    816px 1306px #FFF,
    534px 1560px #FFF,
    629px 1276px #FFF,
    979px 1492px #FFF,
    668px 30px #FFF,
    636px 1533px #FFF,
    1269px 993px #FFF,
    1666px 1134px #FFF,
    289px 1548px #FFF,
    910px 1263px #FFF,
    1503px 1051px #FFF,
    1583px 1924px #FFF,
    1374px 1693px #FFF,
    325px 1318px #FFF,
    1160px 325px #FFF,
    1198px 734px #FFF,
    1234px 1357px #FFF,
    890px 34px #FFF,
    1845px 943px #FFF,
    651px 320px #FFF,
    1245px 872px #FFF,
    731px 1128px #FFF,
    1154px 19px #FFF,
    335px 698px #FFF,
    1016px 501px #FFF,
    917px 1614px #FFF,
    457px 1110px #FFF,
    498px 1889px #FFF,
    2px 1396px #FFF,
    940px 1429px #FFF,
    1520px 1000px #FFF,
    1812px 475px #FFF,
    984px 296px #FFF,
    806px 440px #FFF,
    774px 1453px #FFF,
    191px 1831px #FFF,
    1865px 62px #FFF,
    1322px 438px #FFF,
    957px 302px #FFF,
    984px 437px #FFF,
    1059px 246px #FFF,
    1302px 1575px #FFF,
    1143px 912px #FFF,
    505px 804px #FFF,
    1037px 1347px #FFF,
    1072px 399px #FFF,
    55px 1526px #FFF,
    192px 1955px #FFF,
    311px 407px #FFF,
    1464px 1133px #FFF,
    4px 1985px #FFF,
    550px 170px #FFF,
    743px 1120px #FFF,
    1172px 775px #FFF,
    471px 1129px #FFF,
    197px 1712px #FFF,
    1287px 690px #FFF,
    703px 313px #FFF,
    294px 1096px #FFF,
    32px 739px #FFF,
    1736px 521px #FFF,
    1351px 1236px #FFF,
    864px 774px #FFF,
    1328px 304px #FFF,
    704px 662px #FFF,
    300px 1571px #FFF,
    888px 403px #FFF,
    132px 529px #FFF,
    586px 567px #FFF,
    831px 419px #FFF,
    1571px 24px #FFF,
    258px 1837px #FFF,
    748px 3px #FFF,
    582px 419px #FFF,
    290px 1127px #FFF,
    202px 42px #FFF,
    937px 641px #FFF,
    1312px 1338px #FFF,
    1083px 1342px #FFF,
    83px 923px #FFF,
    1538px 1717px #FFF,
    701px 308px #FFF,
    1744px 1456px #FFF,
    1942px 1214px #FFF,
    1054px 650px #FFF,
    570px 1922px #FFF,
    1228px 639px #FFF,
    615px 364px #FFF,
    105px 222px #FFF,
    567px 1158px #FFF,
    1817px 539px #FFF,
    1691px 937px #FFF,
    1072px 1587px #FFF,
    329px 229px #FFF,
    1389px 1900px #FFF,
    311px 239px #FFF,
    1923px 1000px #FFF,
    1698px 1078px #FFF,
    310px 1396px #FFF,
    1499px 426px #FFF,
    1545px 1276px #FFF,
    180px 1194px #FFF,
    632px 940px #FFF,
    1097px 1975px #FFF,
    1386px 1419px #FFF,
    612px 1961px #FFF,
    1371px 203px #FFF,
    943px 199px #FFF,
    392px 1037px #FFF,
    1725px 349px #FFF,
    1575px 809px #FFF,
    731px 439px #FFF,
    1049px 466px #FFF,
    729px 181px #FFF,
    1026px 610px #FFF,
    138px 1320px #FFF,
    813px 86px #FFF,
    1552px 1456px #FFF,
    1590px 390px #FFF,
    1410px 1761px #FFF,
    1936px 661px #FFF,
    416px 722px #FFF,
    1679px 520px #FFF,
    1809px 175px #FFF,
    673px 571px #FFF,
    1419px 985px #FFF,
    1489px 65px #FFF,
    820px 733px #FFF,
    317px 179px #FFF,
    1186px 13px #FFF,
    216px 670px #FFF,
    1740px 752px #FFF,
    892px 1010px #FFF,
    539px 275px #FFF,
    2px 1072px #FFF,
    1594px 1169px #FFF,
    1825px 1233px #FFF,
    1921px 1899px #FFF,
    403px 1718px #FFF,
    259px 1666px #FFF,
    532px 1576px #FFF,
    431px 1802px #FFF,
    26px 585px #FFF,
    583px 1879px #FFF,
    1414px 1507px #FFF,
    1040px 1677px #FFF,
    914px 1775px #FFF,
    314px 992px #FFF,
    1350px 1362px #FFF,
    788px 1668px #FFF,
    1721px 1520px #FFF,
    1260px 16px #FFF,
    803px 1174px #FFF,
    677px 1509px #FFF,
    467px 1427px #FFF,
    1084px 1685px #FFF,
    1367px 1948px #FFF,
    815px 1579px #FFF,
    1057px 1289px #FFF,
    483px 369px #FFF,
    1542px 515px #FFF,
    748px 383px #FFF,
    601px 1242px #FFF,
    1518px 886px #FFF,
    1122px 1859px #FFF,
    912px 821px #FFF,
    539px 446px #FFF,
    407px 488px #FFF,
    782px 293px #FFF,
    1137px 18px #FFF,
    242px 304px #FFF,
    628px 1700px #FFF,
    118px 1208px #FFF,
    1680px 1514px #FFF,
    549px 220px #FFF,
    855px 611px #FFF,
    1169px 1695px #FFF,
    1764px 147px #FFF,
    521px 1656px #FFF,
    121px 768px #FFF,
    204px 226px #FFF,
    1855px 1849px #FFF,
    231px 307px #FFF,
    853px 653px #FFF,
    1824px 607px #FFF,
    600px 804px #FFF,
    1815px 1272px #FFF,
    600px 45px #FFF,
    603px 1192px #FFF,
    1018px 1510px #FFF,
    1516px 719px #FFF,
    418px 1338px #FFF,
    1706px 1657px #FFF,
    221px 978px #FFF,
    1268px 1270px #FFF,
    1658px 62px #FFF,
    527px 1592px #FFF,
    1151px 1491px #FFF,
    118px 1088px #FFF,
    485px 1141px #FFF,
    555px 195px #FFF,
    1351px 39px #FFF,
    540px 68px #FFF,
    1660px 1595px #FFF,
    1812px 1132px #FFF,
    1123px 1808px #FFF,
    289px 1142px #FFF,
    1826px 1856px #FFF,
    347px 280px #FFF,
    607px 289px #FFF,
    1050px 1242px #FFF,
    676px 1808px #FFF,
    623px 1492px #FFF,
    1934px 1069px #FFF,
    937px 524px #FFF,
    1959px 271px #FFF,
    148px 1454px #FFF,
    1740px 739px #FFF,
    1997px 1463px #FFF,
    516px 1246px #FFF,
    1775px 1974px #FFF,
    1099px 721px #FFF,
    1980px 1191px #FFF,
    301px 717px #FFF,
    1425px 42px #FFF,
    990px 698px #FFF,
    1206px 837px #FFF,
    856px 1077px #FFF,
    1259px 235px #FFF,
    1003px 1266px #FFF,
    96px 788px #FFF,
    1480px 198px #FFF,
    1979px 915px #FFF,
    1756px 492px #FFF,
    502px 1636px #FFF,
    1690px 611px #FFF,
    683px 1331px #FFF,
    1003px 120px #FFF,
    575px 806px #FFF,
    676px 569px #FFF,
    1679px 1134px #FFF,
    1541px 1308px #FFF,
    1942px 1532px #FFF,
    768px 213px #FFF,
    1053px 637px #FFF,
    271px 1317px #FFF,
    371px 609px #FFF,
    71px 96px #FFF,
    721px 754px #FFF,
    486px 135px #FFF,
    184px 1295px #FFF,
    699px 1654px #FFF,
    412px 1651px #FFF,
    112px 1503px #FFF,
    1442px 1080px #FFF,
    1915px 1268px #FFF,
    1820px 544px #FFF,
    1021px 1749px #FFF,
    1923px 581px #FFF,
    879px 81px #FFF,
    1272px 1534px #FFF,
    193px 261px #FFF,
    1713px 1762px #FFF,
    298px 1600px #FFF,
    409px 1568px #FFF,
    57px 559px #FFF,
    1879px 1700px #FFF,
    816px 107px #FFF,
    31px 949px #FFF,
    145px 1962px #FFF,
    1824px 620px #FFF,
    1347px 845px #FFF,
    513px 944px #FFF,
    168px 1417px #FFF,
    1089px 600px #FFF,
    1492px 1416px #FFF,
    1059px 766px #FFF,
    1592px 61px #FFF,
    809px 292px #FFF,
    770px 1458px #FFF,
    606px 1614px #FFF,
    888px 1945px #FFF,
    1964px 266px #FFF,
    1478px 587px #FFF,
    1801px 1273px #FFF,
    607px 628px #FFF,
    1003px 376px #FFF,
    993px 1667px #FFF,
    744px 1722px #FFF,
    679px 1673px #FFF,
    1528px 1001px #FFF,
    197px 1087px #FFF,
    1599px 952px #FFF,
    1329px 1028px #FFF,
    1247px 888px #FFF,
    1418px 1521px #FFF,
    550px 1568px #FFF,
    1371px 1555px #FFF,
    1501px 4px #FFF,
    521px 331px #FFF,
    24px 3px #FFF,
    1688px 928px #FFF,
    519px 1214px #FFF,
    965px 1442px #FFF,
    254px 1039px #FFF,
    454px 1096px #FFF,
    1479px 306px #FFF,
    1808px 87px #FFF,
    1702px 239px #FFF,
    2px 710px #FFF,
    1422px 1133px #FFF,
    450px 788px #FFF,
    378px 643px #FFF,
    1642px 980px #FFF,
    1741px 1714px #FFF,
    1478px 415px #FFF,
    1649px 488px #FFF,
    464px 36px #FFF,
    1785px 1352px #FFF,
    1743px 299px #FFF,
    43px 1501px #FFF,
    1627px 1079px #FFF,
    1850px 125px #FFF,
    139px 1141px #FFF,
    340px 292px #FFF,
    1269px 745px #FFF,
    701px 792px #FFF,
    1325px 1284px #FFF,
    1098px 1867px #FFF,
    751px 916px #FFF,
    109px 480px #FFF,
    1789px 1478px #FFF,
    1987px 1901px #FFF,
    1066px 62px #FFF;
  animation: animStar 50s linear infinite;
}
.stars:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 530px 1030px #FFF,
    1454px 1170px #FFF,
    153px 1556px #FFF,
    358px 1733px #FFF,
    1083px 1954px #FFF,
    1490px 462px #FFF,
    1261px 355px #FFF,
    506px 636px #FFF,
    439px 1856px #FFF,
    254px 1883px #FFF,
    206px 706px #FFF,
    318px 1189px #FFF,
    686px 523px #FFF,
    336px 321px #FFF,
    1913px 378px #FFF,
    1985px 609px #FFF,
    919px 1062px #FFF,
    859px 1045px #FFF,
    1263px 534px #FFF,
    140px 1956px #FFF,
    1057px 1163px #FFF,
    116px 1085px #FFF,
    1231px 780px #FFF,
    977px 1729px #FFF,
    184px 1619px #FFF,
    1727px 659px #FFF,
    591px 432px #FFF,
    130px 1869px #FFF,
    1063px 1032px #FFF,
    1169px 733px #FFF,
    725px 718px #FFF,
    1517px 1792px #FFF,
    850px 1746px #FFF,
    1690px 1950px #FFF,
    600px 232px #FFF,
    1023px 1004px #FFF,
    500px 1059px #FFF,
    1420px 1919px #FFF,
    1866px 176px #FFF,
    1789px 484px #FFF,
    279px 537px #FFF,
    1287px 331px #FFF,
    1028px 1603px #FFF,
    1804px 381px #FFF,
    1144px 924px #FFF,
    1030px 1264px #FFF,
    99px 663px #FFF,
    1540px 31px #FFF,
    278px 472px #FFF,
    1682px 233px #FFF,
    30px 819px #FFF,
    546px 368px #FFF,
    1295px 1442px #FFF,
    1855px 933px #FFF,
    845px 150px #FFF,
    1849px 1970px #FFF,
    1183px 1998px #FFF,
    551px 1008px #FFF,
    676px 25px #FFF,
    34px 70px #FFF,
    940px 1666px #FFF,
    1787px 1436px #FFF,
    1628px 842px #FFF,
    136px 1401px #FFF,
    532px 841px #FFF,
    83px 81px #FFF,
    1027px 202px #FFF,
    1195px 732px #FFF,
    801px 1509px #FFF,
    1312px 1252px #FFF,
    19px 309px #FFF,
    425px 1929px #FFF,
    1182px 1305px #FFF,
    757px 1444px #FFF,
    873px 1639px #FFF,
    28px 1593px #FFF,
    83px 1046px #FFF,
    682px 1848px #FFF,
    1129px 1416px #FFF,
    1106px 839px #FFF,
    639px 1981px #FFF,
    67px 1374px #FFF,
    584px 797px #FFF,
    1433px 437px #FFF,
    1524px 147px #FFF,
    1878px 187px #FFF,
    307px 529px #FFF,
    231px 1926px #FFF,
    495px 546px #FFF,
    7px 1520px #FFF,
    467px 12px #FFF,
    504px 309px #FFF,
    1117px 1090px #FFF,
    456px 946px #FFF,
    1555px 765px #FFF,
    1751px 414px #FFF,
    1422px 1542px #FFF,
    1653px 953px #FFF,
    545px 621px #FFF,
    1886px 1957px #FFF,
    1099px 1757px #FFF,
    524px 766px #FFF,
    750px 263px #FFF,
    915px 1081px #FFF,
    1436px 1461px #FFF,
    936px 1921px #FFF,
    862px 446px #FFF,
    509px 1154px #FFF,
    109px 1091px #FFF,
    1969px 1137px #FFF,
    1540px 165px #FFF,
    707px 143px #FFF,
    1756px 24px #FFF,
    467px 824px #FFF,
    1490px 212px #FFF,
    100px 1614px #FFF,
    497px 1616px #FFF,
    1007px 1102px #FFF,
    789px 713px #FFF,
    1925px 311px #FFF,
    810px 542px #FFF,
    1601px 512px #FFF,
    196px 18px #FFF,
    589px 1061px #FFF,
    594px 877px #FFF,
    455px 1930px #FFF,
    1478px 296px #FFF,
    1276px 353px #FFF,
    612px 1234px #FFF,
    710px 1230px #FFF,
    1568px 753px #FFF,
    650px 1200px #FFF,
    880px 1199px #FFF,
    770px 21px #FFF,
    61px 1452px #FFF,
    1011px 1890px #FFF,
    893px 938px #FFF,
    1764px 846px #FFF,
    982px 965px #FFF,
    791px 1715px #FFF,
    628px 38px #FFF,
    1434px 1841px #FFF,
    990px 48px #FFF,
    985px 64px #FFF,
    911px 1602px #FFF,
    1484px 576px #FFF,
    271px 366px #FFF,
    1151px 177px #FFF,
    148px 970px #FFF,
    1776px 1971px #FFF,
    1018px 1503px #FFF,
    1022px 1215px #FFF,
    112px 1714px #FFF,
    1221px 817px #FFF,
    1623px 111px #FFF,
    300px 751px #FFF,
    1139px 786px #FFF,
    1407px 1244px #FFF,
    1257px 1313px #FFF,
    1499px 698px #FFF,
    654px 147px #FFF,
    959px 1286px #FFF,
    968px 551px #FFF,
    15px 823px #FFF,
    1499px 633px #FFF,
    1162px 1685px #FFF,
    1098px 320px #FFF,
    973px 1618px #FFF,
    1703px 930px #FFF,
    1349px 1248px #FFF,
    674px 520px #FFF,
    34px 630px #FFF,
    1395px 533px #FFF,
    747px 1389px #FFF,
    13px 1196px #FFF,
    1797px 1632px #FFF,
    477px 837px #FFF,
    1020px 920px #FFF,
    979px 1360px #FFF,
    310px 1887px #FFF,
    1943px 1362px #FFF,
    621px 608px #FFF,
    5px 1812px #FFF,
    1315px 1661px #FFF,
    1547px 860px #FFF,
    1050px 132px #FFF,
    510px 820px #FFF,
    1758px 1911px #FFF,
    1393px 832px #FFF,
    1285px 1432px #FFF,
    964px 315px #FFF,
    1357px 1847px #FFF,
    103px 1994px #FFF,
    937px 1565px #FFF,
    1282px 1025px #FFF,
    1355px 1467px #FFF,
    589px 1525px #FFF,
    1209px 623px #FFF,
    1893px 504px #FFF,
    1357px 424px #FFF,
    97px 1682px #FFF,
    925px 406px #FFF,
    1403px 1268px #FFF,
    746px 1423px #FFF,
    1860px 1040px #FFF,
    1037px 1149px #FFF,
    77px 812px #FFF,
    762px 600px #FFF,
    1609px 1065px #FFF,
    122px 524px #FFF,
    1319px 1084px #FFF,
    557px 1633px #FFF,
    1081px 280px #FFF,
    628px 668px #FFF,
    1897px 388px #FFF,
    579px 1403px #FFF,
    947px 1228px #FFF,
    1732px 328px #FFF,
    1544px 1465px #FFF,
    50px 748px #FFF,
    539px 1038px #FFF,
    1404px 775px #FFF,
    1156px 1459px #FFF,
    1893px 560px #FFF,
    1132px 401px #FFF,
    651px 122px #FFF,
    741px 1952px #FFF,
    1136px 1316px #FFF,
    1974px 256px #FFF,
    466px 548px #FFF,
    1355px 1116px #FFF,
    268px 78px #FFF,
    314px 1900px #FFF,
    1602px 356px #FFF,
    1293px 656px #FFF,
    1537px 671px #FFF,
    352px 305px #FFF,
    601px 1831px #FFF,
    1529px 1787px #FFF,
    1105px 176px #FFF,
    1326px 1903px #FFF,
    189px 1153px #FFF,
    988px 1826px #FFF,
    466px 1885px #FFF,
    225px 1845px #FFF,
    837px 266px #FFF,
    472px 1754px #FFF,
    424px 1004px #FFF,
    767px 770px #FFF,
    153px 885px #FFF,
    1110px 1426px #FFF,
    982px 676px #FFF,
    480px 35px #FFF,
    360px 937px #FFF,
    347px 327px #FFF,
    1828px 585px #FFF,
    1523px 219px #FFF,
    1859px 927px #FFF,
    1015px 1095px #FFF,
    1592px 335px #FFF,
    1231px 1246px #FFF,
    1753px 171px #FFF,
    1758px 983px #FFF,
    49px 1553px #FFF,
    1034px 215px #FFF,
    187px 1157px #FFF,
    219px 183px #FFF,
    1898px 1108px #FFF,
    1119px 316px #FFF,
    527px 1119px #FFF,
    660px 1455px #FFF,
    767px 850px #FFF,
    776px 1719px #FFF,
    655px 987px #FFF,
    1634px 1343px #FFF,
    393px 824px #FFF,
    741px 1046px #FFF,
    582px 1472px #FFF,
    314px 343px #FFF,
    588px 1306px #FFF,
    963px 190px #FFF,
    157px 1807px #FFF,
    1850px 603px #FFF,
    1954px 879px #FFF,
    589px 1953px #FFF,
    705px 177px #FFF,
    1288px 465px #FFF,
    882px 1638px #FFF,
    1829px 779px #FFF,
    265px 1268px #FFF,
    1020px 1795px #FFF,
    1823px 543px #FFF,
    579px 1558px #FFF,
    178px 112px #FFF,
    352px 255px #FFF,
    858px 667px #FFF,
    1864px 595px #FFF,
    1201px 1623px #FFF,
    384px 942px #FFF,
    612px 1950px #FFF,
    1737px 791px #FFF,
    954px 1717px #FFF,
    83px 1305px #FFF,
    288px 952px #FFF,
    206px 1382px #FFF,
    323px 13px #FFF,
    849px 369px #FFF,
    1223px 1869px #FFF,
    37px 790px #FFF,
    1644px 1965px #FFF,
    1550px 1365px #FFF,
    1105px 1085px #FFF,
    1620px 1199px #FFF,
    717px 257px #FFF,
    1779px 1432px #FFF,
    1220px 1707px #FFF,
    1815px 371px #FFF,
    1832px 502px #FFF,
    1729px 1678px #FFF,
    1562px 314px #FFF,
    1345px 1311px #FFF,
    1212px 299px #FFF,
    1147px 557px #FFF,
    1308px 1073px #FFF,
    940px 1733px #FFF,
    9px 1216px #FFF,
    483px 1005px #FFF,
    1369px 1364px #FFF,
    470px 1724px #FFF,
    1183px 650px #FFF,
    1074px 1153px #FFF,
    775px 183px #FFF,
    1500px 786px #FFF,
    425px 1694px #FFF,
    1830px 1460px #FFF,
    349px 667px #FFF,
    1254px 1698px #FFF,
    846px 582px #FFF,
    1506px 756px #FFF,
    1633px 420px #FFF,
    1268px 852px #FFF,
    645px 1406px #FFF,
    154px 1776px #FFF,
    1198px 1814px #FFF,
    1982px 1487px #FFF,
    1316px 1964px #FFF,
    1903px 1217px #FFF,
    1932px 59px #FFF,
    1777px 360px #FFF,
    1790px 1235px #FFF,
    1539px 1778px #FFF,
    962px 1106px #FFF,
    595px 1846px #FFF,
    1518px 437px #FFF,
    1518px 207px #FFF,
    1521px 1992px #FFF,
    450px 439px #FFF,
    961px 1203px #FFF,
    1112px 1379px #FFF,
    1088px 1578px #FFF,
    1995px 290px #FFF,
    1327px 481px #FFF,
    1373px 1925px #FFF,
    673px 1793px #FFF,
    1755px 1744px #FFF,
    423px 483px #FFF,
    816px 1306px #FFF,
    534px 1560px #FFF,
    629px 1276px #FFF,
    979px 1492px #FFF,
    668px 30px #FFF,
    636px 1533px #FFF,
    1269px 993px #FFF,
    1666px 1134px #FFF,
    289px 1548px #FFF,
    910px 1263px #FFF,
    1503px 1051px #FFF,
    1583px 1924px #FFF,
    1374px 1693px #FFF,
    325px 1318px #FFF,
    1160px 325px #FFF,
    1198px 734px #FFF,
    1234px 1357px #FFF,
    890px 34px #FFF,
    1845px 943px #FFF,
    651px 320px #FFF,
    1245px 872px #FFF,
    731px 1128px #FFF,
    1154px 19px #FFF,
    335px 698px #FFF,
    1016px 501px #FFF,
    917px 1614px #FFF,
    457px 1110px #FFF,
    498px 1889px #FFF,
    2px 1396px #FFF,
    940px 1429px #FFF,
    1520px 1000px #FFF,
    1812px 475px #FFF,
    984px 296px #FFF,
    806px 440px #FFF,
    774px 1453px #FFF,
    191px 1831px #FFF,
    1865px 62px #FFF,
    1322px 438px #FFF,
    957px 302px #FFF,
    984px 437px #FFF,
    1059px 246px #FFF,
    1302px 1575px #FFF,
    1143px 912px #FFF,
    505px 804px #FFF,
    1037px 1347px #FFF,
    1072px 399px #FFF,
    55px 1526px #FFF,
    192px 1955px #FFF,
    311px 407px #FFF,
    1464px 1133px #FFF,
    4px 1985px #FFF,
    550px 170px #FFF,
    743px 1120px #FFF,
    1172px 775px #FFF,
    471px 1129px #FFF,
    197px 1712px #FFF,
    1287px 690px #FFF,
    703px 313px #FFF,
    294px 1096px #FFF,
    32px 739px #FFF,
    1736px 521px #FFF,
    1351px 1236px #FFF,
    864px 774px #FFF,
    1328px 304px #FFF,
    704px 662px #FFF,
    300px 1571px #FFF,
    888px 403px #FFF,
    132px 529px #FFF,
    586px 567px #FFF,
    831px 419px #FFF,
    1571px 24px #FFF,
    258px 1837px #FFF,
    748px 3px #FFF,
    582px 419px #FFF,
    290px 1127px #FFF,
    202px 42px #FFF,
    937px 641px #FFF,
    1312px 1338px #FFF,
    1083px 1342px #FFF,
    83px 923px #FFF,
    1538px 1717px #FFF,
    701px 308px #FFF,
    1744px 1456px #FFF,
    1942px 1214px #FFF,
    1054px 650px #FFF,
    570px 1922px #FFF,
    1228px 639px #FFF,
    615px 364px #FFF,
    105px 222px #FFF,
    567px 1158px #FFF,
    1817px 539px #FFF,
    1691px 937px #FFF,
    1072px 1587px #FFF,
    329px 229px #FFF,
    1389px 1900px #FFF,
    311px 239px #FFF,
    1923px 1000px #FFF,
    1698px 1078px #FFF,
    310px 1396px #FFF,
    1499px 426px #FFF,
    1545px 1276px #FFF,
    180px 1194px #FFF,
    632px 940px #FFF,
    1097px 1975px #FFF,
    1386px 1419px #FFF,
    612px 1961px #FFF,
    1371px 203px #FFF,
    943px 199px #FFF,
    392px 1037px #FFF,
    1725px 349px #FFF,
    1575px 809px #FFF,
    731px 439px #FFF,
    1049px 466px #FFF,
    729px 181px #FFF,
    1026px 610px #FFF,
    138px 1320px #FFF,
    813px 86px #FFF,
    1552px 1456px #FFF,
    1590px 390px #FFF,
    1410px 1761px #FFF,
    1936px 661px #FFF,
    416px 722px #FFF,
    1679px 520px #FFF,
    1809px 175px #FFF,
    673px 571px #FFF,
    1419px 985px #FFF,
    1489px 65px #FFF,
    820px 733px #FFF,
    317px 179px #FFF,
    1186px 13px #FFF,
    216px 670px #FFF,
    1740px 752px #FFF,
    892px 1010px #FFF,
    539px 275px #FFF,
    2px 1072px #FFF,
    1594px 1169px #FFF,
    1825px 1233px #FFF,
    1921px 1899px #FFF,
    403px 1718px #FFF,
    259px 1666px #FFF,
    532px 1576px #FFF,
    431px 1802px #FFF,
    26px 585px #FFF,
    583px 1879px #FFF,
    1414px 1507px #FFF,
    1040px 1677px #FFF,
    914px 1775px #FFF,
    314px 992px #FFF,
    1350px 1362px #FFF,
    788px 1668px #FFF,
    1721px 1520px #FFF,
    1260px 16px #FFF,
    803px 1174px #FFF,
    677px 1509px #FFF,
    467px 1427px #FFF,
    1084px 1685px #FFF,
    1367px 1948px #FFF,
    815px 1579px #FFF,
    1057px 1289px #FFF,
    483px 369px #FFF,
    1542px 515px #FFF,
    748px 383px #FFF,
    601px 1242px #FFF,
    1518px 886px #FFF,
    1122px 1859px #FFF,
    912px 821px #FFF,
    539px 446px #FFF,
    407px 488px #FFF,
    782px 293px #FFF,
    1137px 18px #FFF,
    242px 304px #FFF,
    628px 1700px #FFF,
    118px 1208px #FFF,
    1680px 1514px #FFF,
    549px 220px #FFF,
    855px 611px #FFF,
    1169px 1695px #FFF,
    1764px 147px #FFF,
    521px 1656px #FFF,
    121px 768px #FFF,
    204px 226px #FFF,
    1855px 1849px #FFF,
    231px 307px #FFF,
    853px 653px #FFF,
    1824px 607px #FFF,
    600px 804px #FFF,
    1815px 1272px #FFF,
    600px 45px #FFF,
    603px 1192px #FFF,
    1018px 1510px #FFF,
    1516px 719px #FFF,
    418px 1338px #FFF,
    1706px 1657px #FFF,
    221px 978px #FFF,
    1268px 1270px #FFF,
    1658px 62px #FFF,
    527px 1592px #FFF,
    1151px 1491px #FFF,
    118px 1088px #FFF,
    485px 1141px #FFF,
    555px 195px #FFF,
    1351px 39px #FFF,
    540px 68px #FFF,
    1660px 1595px #FFF,
    1812px 1132px #FFF,
    1123px 1808px #FFF,
    289px 1142px #FFF,
    1826px 1856px #FFF,
    347px 280px #FFF,
    607px 289px #FFF,
    1050px 1242px #FFF,
    676px 1808px #FFF,
    623px 1492px #FFF,
    1934px 1069px #FFF,
    937px 524px #FFF,
    1959px 271px #FFF,
    148px 1454px #FFF,
    1740px 739px #FFF,
    1997px 1463px #FFF,
    516px 1246px #FFF,
    1775px 1974px #FFF,
    1099px 721px #FFF,
    1980px 1191px #FFF,
    301px 717px #FFF,
    1425px 42px #FFF,
    990px 698px #FFF,
    1206px 837px #FFF,
    856px 1077px #FFF,
    1259px 235px #FFF,
    1003px 1266px #FFF,
    96px 788px #FFF,
    1480px 198px #FFF,
    1979px 915px #FFF,
    1756px 492px #FFF,
    502px 1636px #FFF,
    1690px 611px #FFF,
    683px 1331px #FFF,
    1003px 120px #FFF,
    575px 806px #FFF,
    676px 569px #FFF,
    1679px 1134px #FFF,
    1541px 1308px #FFF,
    1942px 1532px #FFF,
    768px 213px #FFF,
    1053px 637px #FFF,
    271px 1317px #FFF,
    371px 609px #FFF,
    71px 96px #FFF,
    721px 754px #FFF,
    486px 135px #FFF,
    184px 1295px #FFF,
    699px 1654px #FFF,
    412px 1651px #FFF,
    112px 1503px #FFF,
    1442px 1080px #FFF,
    1915px 1268px #FFF,
    1820px 544px #FFF,
    1021px 1749px #FFF,
    1923px 581px #FFF,
    879px 81px #FFF,
    1272px 1534px #FFF,
    193px 261px #FFF,
    1713px 1762px #FFF,
    298px 1600px #FFF,
    409px 1568px #FFF,
    57px 559px #FFF,
    1879px 1700px #FFF,
    816px 107px #FFF,
    31px 949px #FFF,
    145px 1962px #FFF,
    1824px 620px #FFF,
    1347px 845px #FFF,
    513px 944px #FFF,
    168px 1417px #FFF,
    1089px 600px #FFF,
    1492px 1416px #FFF,
    1059px 766px #FFF,
    1592px 61px #FFF,
    809px 292px #FFF,
    770px 1458px #FFF,
    606px 1614px #FFF,
    888px 1945px #FFF,
    1964px 266px #FFF,
    1478px 587px #FFF,
    1801px 1273px #FFF,
    607px 628px #FFF,
    1003px 376px #FFF,
    993px 1667px #FFF,
    744px 1722px #FFF,
    679px 1673px #FFF,
    1528px 1001px #FFF,
    197px 1087px #FFF,
    1599px 952px #FFF,
    1329px 1028px #FFF,
    1247px 888px #FFF,
    1418px 1521px #FFF,
    550px 1568px #FFF,
    1371px 1555px #FFF,
    1501px 4px #FFF,
    521px 331px #FFF,
    24px 3px #FFF,
    1688px 928px #FFF,
    519px 1214px #FFF,
    965px 1442px #FFF,
    254px 1039px #FFF,
    454px 1096px #FFF,
    1479px 306px #FFF,
    1808px 87px #FFF,
    1702px 239px #FFF,
    2px 710px #FFF,
    1422px 1133px #FFF,
    450px 788px #FFF,
    378px 643px #FFF,
    1642px 980px #FFF,
    1741px 1714px #FFF,
    1478px 415px #FFF,
    1649px 488px #FFF,
    464px 36px #FFF,
    1785px 1352px #FFF,
    1743px 299px #FFF,
    43px 1501px #FFF,
    1627px 1079px #FFF,
    1850px 125px #FFF,
    139px 1141px #FFF,
    340px 292px #FFF,
    1269px 745px #FFF,
    701px 792px #FFF,
    1325px 1284px #FFF,
    1098px 1867px #FFF,
    751px 916px #FFF,
    109px 480px #FFF,
    1789px 1478px #FFF,
    1987px 1901px #FFF,
    1066px 62px #FFF;
}

.stars2 {
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 1924px 121px #FFF,
    1831px 423px #FFF,
    503px 823px #FFF,
    915px 1617px #FFF,
    490px 1060px #FFF,
    1323px 1972px #FFF,
    493px 1128px #FFF,
    1891px 355px #FFF,
    743px 1751px #FFF,
    663px 1775px #FFF,
    1988px 1097px #FFF,
    641px 697px #FFF,
    267px 447px #FFF,
    1764px 1005px #FFF,
    1966px 1978px #FFF,
    1936px 1608px #FFF,
    229px 1213px #FFF,
    1667px 1597px #FFF,
    212px 1068px #FFF,
    848px 1557px #FFF,
    1598px 1084px #FFF,
    1315px 871px #FFF,
    946px 1641px #FFF,
    1370px 1024px #FFF,
    1098px 1549px #FFF,
    1895px 1573px #FFF,
    555px 385px #FFF,
    1598px 1125px #FFF,
    876px 1178px #FFF,
    561px 629px #FFF,
    1622px 1196px #FFF,
    617px 1496px #FFF,
    595px 1930px #FFF,
    1210px 1250px #FFF,
    1750px 302px #FFF,
    1549px 1172px #FFF,
    1238px 1583px #FFF,
    1184px 1116px #FFF,
    134px 1185px #FFF,
    331px 796px #FFF,
    620px 366px #FFF,
    143px 1172px #FFF,
    709px 799px #FFF,
    1759px 1887px #FFF,
    550px 1476px #FFF,
    457px 1151px #FFF,
    344px 745px #FFF,
    1240px 1278px #FFF,
    1735px 46px #FFF,
    1629px 34px #FFF,
    1849px 823px #FFF,
    139px 649px #FFF,
    299px 977px #FFF,
    1416px 153px #FFF,
    1080px 978px #FFF,
    1243px 660px #FFF,
    758px 872px #FFF,
    436px 442px #FFF,
    1307px 1258px #FFF,
    700px 68px #FFF,
    1006px 1834px #FFF,
    763px 317px #FFF,
    1820px 1490px #FFF,
    1492px 1797px #FFF,
    516px 1222px #FFF,
    649px 1989px #FFF,
    151px 150px #FFF,
    1250px 1098px #FFF,
    215px 648px #FFF,
    1371px 76px #FFF,
    608px 1680px #FFF,
    1706px 186px #FFF,
    1927px 1625px #FFF,
    1627px 1534px #FFF,
    572px 1918px #FFF,
    282px 1330px #FFF,
    895px 1075px #FFF,
    673px 467px #FFF,
    1935px 1713px #FFF,
    315px 708px #FFF,
    1121px 798px #FFF,
    805px 401px #FFF,
    49px 330px #FFF,
    1634px 1220px #FFF,
    1628px 909px #FFF,
    834px 825px #FFF,
    745px 1580px #FFF,
    480px 922px #FFF,
    1975px 1483px #FFF,
    386px 1724px #FFF,
    1925px 162px #FFF,
    103px 493px #FFF,
    152px 1536px #FFF,
    881px 838px #FFF,
    872px 830px #FFF,
    403px 716px #FFF,
    820px 1154px #FFF,
    79px 1178px #FFF,
    813px 266px #FFF,
    908px 676px #FFF,
    1841px 1393px #FFF,
    1454px 1488px #FFF,
    1112px 888px #FFF,
    1697px 1639px #FFF,
    1112px 1983px #FFF,
    1193px 178px #FFF,
    1021px 1527px #FFF,
    1608px 51px #FFF,
    241px 1668px #FFF,
    1012px 1090px #FFF,
    1748px 625px #FFF,
    149px 1633px #FFF,
    959px 462px #FFF,
    950px 1105px #FFF,
    405px 1716px #FFF,
    700px 1902px #FFF,
    1461px 1928px #FFF,
    560px 1551px #FFF,
    982px 298px #FFF,
    1083px 1556px #FFF,
    1607px 1360px #FFF,
    242px 1568px #FFF,
    1801px 136px #FFF,
    679px 701px #FFF,
    13px 1307px #FFF,
    1786px 646px #FFF,
    257px 1298px #FFF,
    167px 508px #FFF,
    1358px 65px #FFF,
    1527px 264px #FFF,
    1338px 1952px #FFF,
    1558px 1588px #FFF,
    959px 668px #FFF,
    694px 1745px #FFF,
    1155px 1927px #FFF,
    1943px 785px #FFF,
    697px 845px #FFF,
    786px 1210px #FFF,
    1204px 1457px #FFF,
    546px 638px #FFF,
    132px 421px #FFF,
    1102px 1595px #FFF,
    1079px 5px #FFF,
    59px 1611px #FFF,
    167px 1545px #FFF,
    1905px 862px #FFF,
    243px 1752px #FFF,
    425px 1114px #FFF,
    1521px 704px #FFF,
    723px 1594px #FFF,
    495px 1915px #FFF,
    1582px 895px #FFF,
    815px 714px #FFF,
    1280px 356px #FFF,
    1133px 61px #FFF,
    869px 985px #FFF,
    1399px 1782px #FFF,
    1267px 498px #FFF,
    806px 1367px #FFF,
    540px 145px #FFF,
    369px 144px #FFF,
    12px 942px #FFF,
    536px 1718px #FFF,
    1965px 547px #FFF,
    20px 1977px #FFF,
    98px 1108px #FFF,
    405px 1728px #FFF,
    270px 599px #FFF,
    561px 591px #FFF,
    1728px 1821px #FFF,
    1907px 1149px #FFF,
    1923px 962px #FFF,
    1534px 1436px #FFF,
    1293px 1771px #FFF,
    879px 305px #FFF,
    909px 81px #FFF,
    74px 1417px #FFF,
    1305px 226px #FFF,
    839px 611px #FFF,
    805px 1205px #FFF,
    715px 1505px #FFF,
    665px 524px #FFF,
    1849px 1495px #FFF,
    89px 1531px #FFF,
    1448px 220px #FFF,
    770px 1289px #FFF,
    815px 1002px #FFF,
    579px 737px #FFF,
    659px 996px #FFF,
    962px 769px #FFF,
    1760px 662px #FFF,
    1265px 155px #FFF,
    744px 1488px #FFF,
    1679px 1972px #FFF,
    1692px 121px #FFF,
    85px 930px #FFF,
    1070px 199px #FFF,
    771px 1853px #FFF,
    1994px 989px #FFF,
    795px 1852px #FFF;
  animation: animStar 100s linear infinite;
}

.stars2:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 1924px 121px #FFF,
    1831px 423px #FFF,
    503px 823px #FFF,
    915px 1617px #FFF,
    490px 1060px #FFF,
    1323px 1972px #FFF,
    493px 1128px #FFF,
    1891px 355px #FFF,
    743px 1751px #FFF,
    663px 1775px #FFF,
    1988px 1097px #FFF,
    641px 697px #FFF,
    267px 447px #FFF,
    1764px 1005px #FFF,
    1966px 1978px #FFF,
    1936px 1608px #FFF,
    229px 1213px #FFF,
    1667px 1597px #FFF,
    212px 1068px #FFF,
    848px 1557px #FFF,
    1598px 1084px #FFF,
    1315px 871px #FFF,
    946px 1641px #FFF,
    1370px 1024px #FFF,
    1098px 1549px #FFF,
    1895px 1573px #FFF,
    555px 385px #FFF,
    1598px 1125px #FFF,
    876px 1178px #FFF,
    561px 629px #FFF,
    1622px 1196px #FFF,
    617px 1496px #FFF,
    595px 1930px #FFF,
    1210px 1250px #FFF,
    1750px 302px #FFF,
    1549px 1172px #FFF,
    1238px 1583px #FFF,
    1184px 1116px #FFF,
    134px 1185px #FFF,
    331px 796px #FFF,
    620px 366px #FFF,
    143px 1172px #FFF,
    709px 799px #FFF,
    1759px 1887px #FFF,
    550px 1476px #FFF,
    457px 1151px #FFF,
    344px 745px #FFF,
    1240px 1278px #FFF,
    1735px 46px #FFF,
    1629px 34px #FFF,
    1849px 823px #FFF,
    139px 649px #FFF,
    299px 977px #FFF,
    1416px 153px #FFF,
    1080px 978px #FFF,
    1243px 660px #FFF,
    758px 872px #FFF,
    436px 442px #FFF,
    1307px 1258px #FFF,
    700px 68px #FFF,
    1006px 1834px #FFF,
    763px 317px #FFF,
    1820px 1490px #FFF,
    1492px 1797px #FFF,
    516px 1222px #FFF,
    649px 1989px #FFF,
    151px 150px #FFF,
    1250px 1098px #FFF,
    215px 648px #FFF,
    1371px 76px #FFF,
    608px 1680px #FFF,
    1706px 186px #FFF,
    1927px 1625px #FFF,
    1627px 1534px #FFF,
    572px 1918px #FFF,
    282px 1330px #FFF,
    895px 1075px #FFF,
    673px 467px #FFF,
    1935px 1713px #FFF,
    315px 708px #FFF,
    1121px 798px #FFF,
    805px 401px #FFF,
    49px 330px #FFF,
    1634px 1220px #FFF,
    1628px 909px #FFF,
    834px 825px #FFF,
    745px 1580px #FFF,
    480px 922px #FFF,
    1975px 1483px #FFF,
    386px 1724px #FFF,
    1925px 162px #FFF,
    103px 493px #FFF,
    152px 1536px #FFF,
    881px 838px #FFF,
    872px 830px #FFF,
    403px 716px #FFF,
    820px 1154px #FFF,
    79px 1178px #FFF,
    813px 266px #FFF,
    908px 676px #FFF,
    1841px 1393px #FFF,
    1454px 1488px #FFF,
    1112px 888px #FFF,
    1697px 1639px #FFF,
    1112px 1983px #FFF,
    1193px 178px #FFF,
    1021px 1527px #FFF,
    1608px 51px #FFF,
    241px 1668px #FFF,
    1012px 1090px #FFF,
    1748px 625px #FFF,
    149px 1633px #FFF,
    959px 462px #FFF,
    950px 1105px #FFF,
    405px 1716px #FFF,
    700px 1902px #FFF,
    1461px 1928px #FFF,
    560px 1551px #FFF,
    982px 298px #FFF,
    1083px 1556px #FFF,
    1607px 1360px #FFF,
    242px 1568px #FFF,
    1801px 136px #FFF,
    679px 701px #FFF,
    13px 1307px #FFF,
    1786px 646px #FFF,
    257px 1298px #FFF,
    167px 508px #FFF,
    1358px 65px #FFF,
    1527px 264px #FFF,
    1338px 1952px #FFF,
    1558px 1588px #FFF,
    959px 668px #FFF,
    694px 1745px #FFF,
    1155px 1927px #FFF,
    1943px 785px #FFF,
    697px 845px #FFF,
    786px 1210px #FFF,
    1204px 1457px #FFF,
    546px 638px #FFF,
    132px 421px #FFF,
    1102px 1595px #FFF,
    1079px 5px #FFF,
    59px 1611px #FFF,
    167px 1545px #FFF,
    1905px 862px #FFF,
    243px 1752px #FFF,
    425px 1114px #FFF,
    1521px 704px #FFF,
    723px 1594px #FFF,
    495px 1915px #FFF,
    1582px 895px #FFF,
    815px 714px #FFF,
    1280px 356px #FFF,
    1133px 61px #FFF,
    869px 985px #FFF,
    1399px 1782px #FFF,
    1267px 498px #FFF,
    806px 1367px #FFF,
    540px 145px #FFF,
    369px 144px #FFF,
    12px 942px #FFF,
    536px 1718px #FFF,
    1965px 547px #FFF,
    20px 1977px #FFF,
    98px 1108px #FFF,
    405px 1728px #FFF,
    270px 599px #FFF,
    561px 591px #FFF,
    1728px 1821px #FFF,
    1907px 1149px #FFF,
    1923px 962px #FFF,
    1534px 1436px #FFF,
    1293px 1771px #FFF,
    879px 305px #FFF,
    909px 81px #FFF,
    74px 1417px #FFF,
    1305px 226px #FFF,
    839px 611px #FFF,
    805px 1205px #FFF,
    715px 1505px #FFF,
    665px 524px #FFF,
    1849px 1495px #FFF,
    89px 1531px #FFF,
    1448px 220px #FFF,
    770px 1289px #FFF,
    815px 1002px #FFF,
    579px 737px #FFF,
    659px 996px #FFF,
    962px 769px #FFF,
    1760px 662px #FFF,
    1265px 155px #FFF,
    744px 1488px #FFF,
    1679px 1972px #FFF,
    1692px 121px #FFF,
    85px 930px #FFF,
    1070px 199px #FFF,
    771px 1853px #FFF,
    1994px 989px #FFF,
    795px 1852px #FFF;
}

.stars3 {
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 249px 1611px #FFF,
    1950px 956px #FFF,
    1180px 394px #FFF,
    1868px 1546px #FFF,
    1640px 1183px #FFF,
    902px 128px #FFF,
    26px 1685px #FFF,
    466px 867px #FFF,
    214px 1821px #FFF,
    606px 1397px #FFF,
    1128px 1781px #FFF,
    520px 151px #FFF,
    520px 310px #FFF,
    910px 466px #FFF,
    664px 999px #FFF,
    1870px 1630px #FFF,
    219px 79px #FFF,
    1108px 677px #FFF,
    790px 1978px #FFF,
    1567px 338px #FFF,
    440px 406px #FFF,
    611px 1240px #FFF,
    1025px 1872px #FFF,
    276px 164px #FFF,
    1596px 1851px #FFF,
    1542px 1777px #FFF,
    618px 1761px #FFF,
    1342px 1060px #FFF,
    883px 334px #FFF,
    1518px 948px #FFF,
    528px 1159px #FFF,
    98px 1505px #FFF,
    1124px 1356px #FFF,
    360px 370px #FFF,
    574px 1977px #FFF,
    1554px 1040px #FFF,
    890px 968px #FFF,
    1111px 1188px #FFF,
    45px 208px #FFF,
    1836px 1139px #FFF,
    173px 897px #FFF,
    1430px 799px #FFF,
    317px 249px #FFF,
    1483px 1527px #FFF,
    1107px 539px #FFF,
    1707px 565px #FFF,
    956px 1270px #FFF,
    710px 447px #FFF,
    703px 732px #FFF,
    1656px 200px #FFF,
    418px 241px #FFF,
    779px 978px #FFF,
    1690px 251px #FFF,
    250px 641px #FFF,
    1019px 888px #FFF,
    1734px 442px #FFF,
    407px 601px #FFF,
    46px 1478px #FFF,
    735px 904px #FFF,
    286px 1762px #FFF,
    1284px 868px #FFF,
    1108px 1203px #FFF,
    277px 626px #FFF,
    1832px 834px #FFF,
    1328px 1041px #FFF,
    439px 1906px #FFF,
    967px 606px #FFF,
    1658px 476px #FFF,
    597px 8px #FFF,
    1310px 73px #FFF,
    918px 1416px #FFF,
    1540px 1106px #FFF,
    24px 1342px #FFF,
    1338px 67px #FFF,
    1519px 1986px #FFF,
    685px 1777px #FFF,
    1484px 1169px #FFF,
    1336px 1718px #FFF,
    1350px 261px #FFF,
    1496px 640px #FFF,
    1102px 1788px #FFF,
    358px 347px #FFF,
    367px 895px #FFF,
    561px 1616px #FFF,
    1561px 69px #FFF,
    231px 733px #FFF,
    1584px 946px #FFF,
    571px 170px #FFF,
    1px 1322px #FFF,
    1253px 1114px #FFF,
    1479px 605px #FFF,
    1448px 1743px #FFF,
    1730px 18px #FFF,
    1774px 1456px #FFF,
    1920px 1207px #FFF,
    516px 1253px #FFF,
    858px 177px #FFF,
    486px 967px #FFF,
    218px 553px #FFF,
    919px 990px #FFF;
  animation: animStar 150s linear infinite;
}
.stars3:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 249px 1611px #FFF,
    1950px 956px #FFF,
    1180px 394px #FFF,
    1868px 1546px #FFF,
    1640px 1183px #FFF,
    902px 128px #FFF,
    26px 1685px #FFF,
    466px 867px #FFF,
    214px 1821px #FFF,
    606px 1397px #FFF,
    1128px 1781px #FFF,
    520px 151px #FFF,
    520px 310px #FFF,
    910px 466px #FFF,
    664px 999px #FFF,
    1870px 1630px #FFF,
    219px 79px #FFF,
    1108px 677px #FFF,
    790px 1978px #FFF,
    1567px 338px #FFF,
    440px 406px #FFF,
    611px 1240px #FFF,
    1025px 1872px #FFF,
    276px 164px #FFF,
    1596px 1851px #FFF,
    1542px 1777px #FFF,
    618px 1761px #FFF,
    1342px 1060px #FFF,
    883px 334px #FFF,
    1518px 948px #FFF,
    528px 1159px #FFF,
    98px 1505px #FFF,
    1124px 1356px #FFF,
    360px 370px #FFF,
    574px 1977px #FFF,
    1554px 1040px #FFF,
    890px 968px #FFF,
    1111px 1188px #FFF,
    45px 208px #FFF,
    1836px 1139px #FFF,
    173px 897px #FFF,
    1430px 799px #FFF,
    317px 249px #FFF,
    1483px 1527px #FFF,
    1107px 539px #FFF,
    1707px 565px #FFF,
    956px 1270px #FFF,
    710px 447px #FFF,
    703px 732px #FFF,
    1656px 200px #FFF,
    418px 241px #FFF,
    779px 978px #FFF,
    1690px 251px #FFF,
    250px 641px #FFF,
    1019px 888px #FFF,
    1734px 442px #FFF,
    407px 601px #FFF,
    46px 1478px #FFF,
    735px 904px #FFF,
    286px 1762px #FFF,
    1284px 868px #FFF,
    1108px 1203px #FFF,
    277px 626px #FFF,
    1832px 834px #FFF,
    1328px 1041px #FFF,
    439px 1906px #FFF,
    967px 606px #FFF,
    1658px 476px #FFF,
    597px 8px #FFF,
    1310px 73px #FFF,
    918px 1416px #FFF,
    1540px 1106px #FFF,
    24px 1342px #FFF,
    1338px 67px #FFF,
    1519px 1986px #FFF,
    685px 1777px #FFF,
    1484px 1169px #FFF,
    1336px 1718px #FFF,
    1350px 261px #FFF,
    1496px 640px #FFF,
    1102px 1788px #FFF,
    358px 347px #FFF,
    367px 895px #FFF,
    561px 1616px #FFF,
    1561px 69px #FFF,
    231px 733px #FFF,
    1584px 946px #FFF,
    571px 170px #FFF,
    1px 1322px #FFF,
    1253px 1114px #FFF,
    1479px 605px #FFF,
    1448px 1743px #FFF,
    1730px 18px #FFF,
    1774px 1456px #FFF,
    1920px 1207px #FFF,
    516px 1253px #FFF,
    858px 177px #FFF,
    486px 967px #FFF,
    218px 553px #FFF,
    919px 990px #FFF;
}

@keyframes animStar {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-2000px);
  }
}

